<div class="row">
<div class="col-md-4"><h1 class="text-center"><h1>To Do</h1>
<%= render @to_do %>
</div>
<div class="col-md-4"><h1 class="text-center"><h1>Doing</h1>
<%= render @doing %>
</div>
<div class="col-md-4"><h1 class="text-center"><h1>Done</h1>
<%= render @done %>
</div>
</div>  

<br>
<iframe src='/New_Member_Orientation.pdf' alt="..." embed='true' width="100%" height="800" >
    <p>Your browser does not support iframes.</p> 
  </iframe>  
<%= link_to 'New Task', new_task_path %>
