<h3 class="text-center"><strong>Achieve more everyday in your work and your daily life</strong></h3>
<br>
<p class="text-center">Taskpad lets you manage your tasks anywhere. At home, at school, at work and online.</p>