<div class="jumbotron">

<h3><i class="fa fa-circle-o-notch"></i>Stukdo</h3>
<p>This is my smart to do list Ruby on Rails Application</p>
<%= link_to "Sign Up", "#", class: "btn btn-primary btn-sm" %>

</div>